// Import font
@font-face {
    font-family: 'iAWriter';
    src: url('fonts/iAWriterDuoS-Regular.woff2') format('woff2');
}

@keyframes pageLoad {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@mixin main_anim($delay) {
    animation: pageLoad 2s cubic-bezier(0.5, 0, 0.5, 1) $delay both;
}
// Variables
:root {
    --fg-css: #1a1918;
    --bg-css: #f2ece4;
}
$font-body: "iAWriter", monospcae;
$fg-color: var(--fg-css);
$bg-color: var(--bg-css);
// defaults
body {
    color: $fg-color;
    background-color: $bg-color;
    font: 16px $font-body;
    cursor: default;
    font-feature-settings: "ss04";
    height: 100%;
    overflow: hidden;
}

a, a:visited {
    &:hover{
        color: $bg-color;
        // transition: color 1s ease-out;
    }
    text-decoration: none;
    color: var(--fg-color);
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    cursor: pointer;
}
img {
    width: 300px;
}
.highlight:hover {
    color: $bg-color;
    background-color: $fg-color;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
}
// body class
.body {
    position: relative;
    width: 450px;
    line-height: 210%;
    transition: all 1s ease-in-out;
}
//metadata class
.home-01{
    text-transform: lowercase;
}
.about-02 {
    text-align: justify;
}
.time-place-wrapper {
    &:hover .time { display: none; }
    &:hover .date { display: block; }
    width: 50%;

}
.title {
    // @include main_anim(0s);
}
.text, .link, .place, .time {
    margin-left: 24px;
    // @include main_anim(.6s);
}
.date {
    display: none;
    margin-left: 24px;
}
.text:not(:first-of-type) {
    animation: none;
}

// .image-dump {
//     position: absolute;
//     top: 50%;
//     left: 0%;
//     transform: translate(-50%, -50%);
//     transition-duration: .15s;
//     transition-timing-function: cubic-bezier(0, 0.1, 0.55, 1);
// }
